@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
}

@layer utilities {
  .bg-custom-bg {
    background: linear-gradient(
        rgba(255, 159, 70, 0.95),
        rgba(255, 159, 70, 0.95)
      ),
      url("/images/bgnation2.png") no-repeat center/cover;
  }

  .badkart {
    transform: translate3d(-42px, 0px, 135px);
  }
  .bg-section-2 {
    background: url("/images/bg2.png") no-repeat center/cover;
  }
  .bg-foil-1 {
    background: url("/images/petcardfoil.png") no-repeat center/contain;
  }
  .bg-foil-2 {
    background: url("/images/petcardfoil2.png") no-repeat center/contain;
  }
  .bg-foil-3 {
    background: url("/images/petcardfoil3.png") no-repeat center/contain;
  }
  .bg-foil-4 {
    background: url("/images/petcardfoil4.png") no-repeat center/contain;
  }
  .bg-foil-5 {
    background: url("/images/dogfootfoil.png") center/cover no-repeat;
  }

  .clippy {
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
  }

  .back-hover {
    border: 1px solid var(--Logo-Text-color, #fff4e9);
    background: var(--BG-DARK, #1a1a1a);
    cursor: pointer;
  }
  .back-hover p {
    color: #ff9f46;
  }

  .back-hover-1 {
    border: 1px solid var(--Logo-Text-color, #fff4e9);
    cursor: pointer;
  }
  .back-hover-1 p {
    color: #ff9f46;
  }

  .pet-card-1 {
    backdrop-filter: blur(10.5px);
  }

  .pet-card-1:hover {
    backdrop-filter: blur(0);
  }

  .stroketext {
    -webkit-text-strokewidth: 2px;
    -webkit-text-stroke-color: #fff;
  }

  .stroketext1 {
    -webkit-text-strokewidth: 1px;
    -webkit-text-stroke-color: #fff;
  }

  .bg-bottom-foil {
    background: url("/images/bottomfoil.svg") repeat-x bottom;
    animation: slide 100s linear infinite;
  }

  .bg-bottom-foil1 {
    background: #1a1a1a url("/images/bottomfoil.svg") repeat-x bottom;
    animation: slide 100s linear infinite;
    opacity: 0.9;
  }

  @keyframes slide {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-3840px); /* The image width */
    }
  }

  .card-border-1 {
    border: 2px solid var(--BG-DARK, #1a1a1a);
  }

  .bg-story-page {
    background: linear-gradient(
        rgba(255, 159, 70, 0.95),
        rgba(255, 159, 70, 0.95)
      ),
      url("/images/bottomfoil.svg") repeat;
  }

  .model-hamster-price {
    width: 393.685px;
    height: 101.121px;
    flex-shrink: 0;
    border: 1px solid var(--Logo-Text-color, #fff4e9);
    background: linear-gradient(
      91deg,
      rgba(255, 254, 254, 0.23) -47.11%,
      rgba(255, 254, 254, 0.23) 110.32%
    );
    backdrop-filter: blur(15px);
  }

  .custom-bg-1 {
    animation: glowAnimation 1.6s infinite alternate;
    border-radius: 14px;
    filter: blur(62px);
    animation-delay: 1.6s;
  }

  .custom-bg-2 {
    animation: glowAnimation 1.6s infinite alternate;
    border-radius: 14px;
    filter: blur(62px);
    animation-delay: 1.6s;
  }

  @keyframes glowAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  .moveUp {
    animation: slide 1.6s infinite alternate;
  }

  .moveDown {
  }

  .tokenomic-page {
  }

  .parenthoversvg:hover svg path {
    fill: #1a1a1a; /* Change this to the desired color */
  }

  .animcustom1 {
    animation: ctext1 4s ease-in-out infinite alternate;
  }

  .animcustom2 {
    animation: ctext2 4s ease-in-out infinite alternate;
  }

  .animcustom3 {
    animation: ctext3 5s ease-in-out infinite alternate;
  }
  .animcustom4 {
    animation: ctext4 5s ease-in-out infinite alternate;
  }

  @keyframes ctext1 {
    from {
      color: #fff4e9;
      scale: 1;
    }
    50% {
      color: #ff6058;
      scale: 1.1;
    }
    to {
      color: #fff4e9;
      scale: 1;
    }
  }
  @keyframes ctext2 {
    from {
      scale: 1;
    }
    50% {
      scale: 1.1;
    }
    to {
      scale: 1;
    }
  }
  @keyframes ctext3 {
    from {
      color: #fff4e9;
      scale: 1;
    }
    50% {
      color: #ff9f46;
      scale: 1.1;
    }
    to {
      color: #fff4e9;
      scale: 1;
    }
  }
  @keyframes ctext4 {
    from {
      color: #fff4e9;
      scale: 1;
    }
    50% {
      color: #44b05c;
      scale: 1.1;
    }
    to {
      color: #fff4e9;
      scale: 1;
    }
  }

  .B1650C1 {
    animation: B1650C1 4s ease-in-out infinite;
  }
  .coinMoveRight {
    animation: coinMoveRight 4s ease-in-out infinite;
  }

  @keyframes B1650C1 {
    60% {
      transform: translate(475px, 0) rotate(180deg);
    }
    85% {
      transform: translate(475px, -135px) rotate(0deg);
    }
    100% {
      transform: translate(500px, -135px) rotate(45deg);
    }
  }
  @keyframes coinMoveRight {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    60% {
      transform: translate(475px, 0) rotate(180deg);
      opacity: 1;
    }
    85% {
      transform: translate(475px, -135px) rotate(0deg);
      opacity: 0.5;
    }
    100% {
      transform: translate(500px, -135px) rotate(45deg);
      opacity: 0;
    }
  }
  .flipdown {
    transform: rotateX(180deg);
  }
}
