@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
}

@layer utilities {
  .bg-custom-bg {
    background: linear-gradient(
        rgba(255, 159, 70, 0.95),
        rgba(255, 159, 70, 0.95)
      ),
      url("/images/bgnation2.png") no-repeat center/cover;
  }
  .bg-section-2 {
    background: url("/images/bg2.webp") no-repeat center/cover;
  }
  .bg-foil-1 {
    background: url("/images/petcardfoil.png") no-repeat center/contain;
  }
  .bg-foil-2 {
    background: url("/images/petcardfoil2.png") no-repeat center/contain;
  }
  .bg-foil-3 {
    background: url("/images/petcardfoil3.png") no-repeat center/contain;
  }
  .bg-foil-4 {
    background: url("/images/petcardfoil4.png") no-repeat center/contain;
  }
  .bg-foil-5 {
    background: url("/images/dogfootfoil.png") center/cover no-repeat;
  }

  .clippy {
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
  }

  .back-hover {
    border: 1px solid var(--Logo-Text-color, #fff4e9);
    background: var(--BG-DARK, #1a1a1a);
    cursor: pointer;
  }
  .back-hover p {
    color: #ff9f46;
  }

  .pet-card-1 {
    backdrop-filter: blur(10.5px);
  }

  .pet-card-1:hover {
    backdrop-filter: blur(0);
  }

  .stroketext {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
  }

  .bg-bottom-foil {
    background: url("/images/bottomfoil.svg") repeat-x bottom;
    animation: slide 100s linear infinite;
  }

  @keyframes slide {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-3840px); /* The image width */
    }
  }

  .card-border-1 {
    border: 2px solid var(--BG-DARK, #1a1a1a);
  }

  .bg-story-page {
    background: linear-gradient(
        rgba(255, 159, 70, 0.95),
        rgba(255, 159, 70, 0.95)
      ),
      url("/images/bottomfoil.svg") repeat;
  }
}
